@font-face {
  font-family: Lato-Regular;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
body {
  height: 100vh;
  width: 100%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato-Regular, sans-serif;
  gap: var(--spacing-medium);
}

.accordion {
  width: 60%;
  height: auto;
}

.accordion__title-container {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  cursor: pointer;
  border-radius: 0.5rem;
}

.accordion__title {
  color: var(--text-color);
}

.accordion__toggle-button {
  padding: var(--spacing-small);
  cursor: pointer;
  border: none;
  background-color: var(--text-color);
  border-radius: 0.25rem;
}

.accordion__toggle-logo {
  transition: transform 0.3s linear;
}

/* ------------------ */

.accordion__description-container {
  background-color: var(--secondary-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

.accordion__description-container--active {
  max-height: 500px;
}

.accordion__description {
  line-height: 1.3;
  padding: var(--spacing-small);
}

/* ------------- */

.rotate-arrow {
  transform: rotate(180deg);
}
